.products-section {
	background-color: var(--container);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	min-height: 400px;
	padding: 24px;
	width: 80%;
}
.products-title {
	color: var(--text);
	margin-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
}
