* {
	box-sizing: border-box;
	font-family: "Montserrat";
	margin: 0;
	padding: 0;
}
:root {
	--main: #d93636;
	--secoundary: #d93636;
	--clear: #fff;
	--card-background: #f2f2f0;
	--text: #403f37;
	--container: #bfbfbf;
}
body {
	background-color: #333;
}
